r>        
<ion-view view-title="Forgot Password">
    <ion-content>
        <ion-nav-bar class="bar">
    
        </ion-nav-bar>
        <div class="list has-header">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <a class="button button-block button-positive" href="#/log-in">
                Return Back
            </a>

        </div>
    </ion-content>
</ion-view>


