      
<ion-view view-title="Log-In">
    <ion-content>
        <ion-nav-bar class="bar">
        </ion-nav-bar>
        <div class="list has-header">
            <form name="user" novalidate>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" name = "email" ng-model="email" required>

                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" ng-model="password" required>
                </label>
                <p class="text-right" style="font-size: 50%; padding:5px; margin-bottom: 0px; padding-bottom: 0px; ">
                    <a ng-click="logOut()">Forgot password</a>
                </p>
                
                <button class="button button-block button-green" ng-disabled="user.$invalid" ng-click="logIn(user)" data-loading>
                    Log-In
                </button>
                    
            </form>
        </div>
        <p class="text-center" style="font-size: 80%; padding:25px; ">
            <a href="#/sign-up">Create an account</a>
        </p>
    </ion-content>
</ion-view>


