   
<ion-view view-title="Create an account">
    <ion-content>

        <ion-nav-bar class="bar">

        </ion-nav-bar>
        <div class="list has-header">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="user.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
        </div>

        <button class="button button-block button-green" ng-click="logIn(user)">
            Sign-In
        </button>
        <p class="text-center" style="font-size: 60%; padding:5px; ">
            <a href="#/log-in">Log-In</a>
        </p>

    </ion-content>
</ion-view>


