<ion-view view-title="Word Cloud Analysis">


    <ion-content style="top:0;">
        <ion-tabs class="tabs-top tabs-icon-top" >
            <ion-tab title="CLOUD" icon-on="ion-android-cloud-done" icon-off="ion-android-cloud-done" >
                <!-- Tab 1 content -->
                <div  class="padding has-header">
                    <div>
                        <p class="icons">A snapshot of what you love doing <i class="ion-heart"></i></p>
                        <jqcloud words="tagsCloudLove"  width="350" height="200" steps="7" ></jqcloud>
                    </div>
                    <div><br>
                        <p class="icons">A snapshot of what you want to avoid <i class="ion-alert-circled"></i></p>
                        <jqcloud words="tagsCloudAvoid" width="350" height="200" steps="7" ></jqcloud>
                    </div>
                </div>
            </ion-tab>
            <ion-tab title="LIST" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline">
                <!-- Tab 2 content -->
                <ion-list class="padding" style="margin-top:150px;">
                    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                        <img ng-src="{{chat.face}}">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.lastText}}</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                        <ion-option-button class="button-assertive" ng-click="remove(chat)">
                            Delete
                        </ion-option-button>
                    </ion-item>
                </ion-list>
            </ion-tab>
            <ion-tab title="FILTER" icon-on="iion-funnel" icon-off="ion-funnel">
                <!-- Tab 3 content -->
            </ion-tab>
        </ion-tabs>    
    </ion-content>

</ion-view>
