<ion-view view-title="How was your day today?">

    <ion-content style="top:0;">
        <ion-tabs class="tabs-top tabs-icon-top">
            <ion-tab title="LOVE" icon-on="ion-heart" icon-off="ion-heart">
                <!-- Tab 1 content -->
                <div class="padding" >
                    <h2 class="title ">What were some of the best part of today?</h2>
                    <p></p>
                    <ion-scroll direction="x" class="item " style="padding:5px">
                        <button data-ng-repeat="item in recentLove|filter:{item:'!null'}" class="horizontaList button" ng-click="addFromRecent(item.id, 'love');">
                            {{item.name}}
                        </button>      
                    </ion-scroll>
                    <div class="list inputTags">
                        <label style="margin-top: 20px" class="item item-input" data-ng-repeat="item in entry|filter:{type:'love'}" >
                            <input name="loveTagInput" type="text" ng-model="item.name" ng-change="entryDataUpdated()">
                        </label>
                    </div>
                    <button class="button button-full button-green" ng-click="submitButtonPressed('love');" ng-disabled="submitValidated">
                       {{buttonText}}
                    </button>
                </div>
            </ion-tab>
            <ion-tab title="AVOID" icon-on="ion-alert-circled" icon-off="ion-alert-circled">
                <!-- Tab 2 content -->
                <div class=" padding" >
                    <h2 class="title ">What could you have avoided today?</h2>
                    <p></p>
                    <ion-scroll direction="x" class="item " style="padding:5px">
                        <button data-ng-repeat="item in recentAvoid|filter:{item:'!null'}" class="horizontaList button" ng-click="addFromRecent(item.id,'avoid');">
                            {{item.name}}
                        </button>      
                    </ion-scroll>
                    <div class="list inputTags">
                        <label style="margin-top: 20px" class="item item-input" data-ng-repeat="item in entry|filter:{type:'avoid'}" >
                            <input type="text" ng-model="item.name">
                        </label>
                    </div>
                    <button class="button button-full button-green" ng-click="submitButtonPressed('avoid');" ng-disabled="submitValidated">
                        {{buttonText}}
                    </button>
                </div>
            </ion-tab>
        </ion-tabs>
</ion-content >
</ion-view>
